{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="new_profiles">
  {% for profile in profiles %}
  <div class="single_profile">
    <div class="profile_image" style="float:left;">
      <i class="fas fa-user fa-4x" style="margin-left:10px;"></i>
    </div>
    <div class="profile_name">
      {{profile.user.username}}
    </div>
    {% if profile in profile.destination.all %}
    <div class="connection_button">
      <button type="button" name="button" class="btn btn-warning"><a href="{% url 'Users:add_to_follows' username=profile.user.username %}">Following</a></button>
    </div>
    {% else %}
    <div class="connection_button">
      <button type="button" name="button" class="btn btn-warning"><a href="{% url 'Users:add_to_follows' username=profile.user.username %}">Follow</a></button>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
